body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b60b0;
}

.headcontainer {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.vr{
    justify-content: center;
}
.logo{
    align-self: center;
}
header {
    background-color: #000000;
    padding-bottom: 1px;
    color: #40a2db;
}

header h1 {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 10px;
}

nav ul li a {
    color: #40a2db;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
}

nav ul li a:hover {
    font-size: 1.2rem;
    color: white;
    transition: 1.5s;
}
nav ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.container {
    background-image: url('./images/contactimgs/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	margin: 0px auto;
	color: white;
	line-height: 1.5;
    padding: 30px 30px 50px 30px; 
    justify-content: space-around;
}

.text-center {
	text-align: center;
    backdrop-filter: blur(5px)  saturate(180%);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 30px;
    color: white;
    padding: 15px;
    border: 2px solid white;
    margin-right: 4%;
}

.content {
    color: white;
	display: flex;
	margin-top: 40px;
    justify-content: space-around;
    margin-right: 2%
}

.icon {
	backdrop-filter: blur(5px) saturate(180%);
	border-radius: 30px;
	padding: 15px;
	vertical-align: top;
    border: 2px solid white;
}

.contact-info {
    color: white;
    border: 2px solid white;
    backdrop-filter: blur(5px) saturate(180%);
	display: inline-block;
	padding: 4px 20px 0px 20px;
    border-radius: 30px;
}

.address-line {
	margin-top: 40px;
}

.col-1 {
	width: 530px;
    backdrop-filter: blur(5px) saturate(180%);
    border-radius: 30px;
    padding: 15px;
    border: 2px solid white;
}

.col-2 {
	flex: 1 1 auto;
	backdrop-filter: blur(5px) saturate(180%);
    border-radius: 30px;
    padding: 15px;
    border: 2px solid white;
    margin-left: 2%;
    margin-right: 2%;
}

.form-container {
	color: white;
	padding: 30px;
    margin-right: 2%;
    
}

.contact-info-title {
	color: white;
}

.form-row {
	padding-bottom: 30px;
}

.form-field {
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
}

.send-btn {
	border: 1px solid #0b60b0;
	padding: 12px 26px;
	background-color: #40a2db;
	color: white;
}

@media all and (max-width: 1024px) {
	.container {
		width: auto;
		padding: 30px;
	}
	 .col-1 {
		width: 360px;
	} 
}

@media all and (max-width: 700px) {
	.content {
		display: block;
	}
	.col-2 {
		margin-top: 40px;
	} 
	.col-1{
	width:auto;
    margin-right: 2%;
	}
}

@media all and (max-width: 500px) {
	.container {
		padding: 10px;
	}
}

@media (min-width: 319px) and (max-width:480px)
    { 
        .vr{
            text-align: center;
        }
    nav ul li{
        display: flex;
        justify-content: center;
      
    }
    .headcontainer {
        border: 1px solid;
        display: flex;
        flex-direction: column;
    }
    nav ul li a {
        text-align: center;
        text-decoration: none;
    }
}
#footer {
    background-color: black;
    color: #40a2db;
    padding: 20px 0;
}

.foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links,
.social-media,
.footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-links a,
.social-media a,
.footer-nav a {
    color: #40a2db;
    margin: 0 10px;
    text-decoration: none;
}

.social-media img {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.newsletter {
    margin: 10px 0; 
    color: #ffffff;
}

.newsletter form {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
}

.newsletter button {
    padding: 10px;
    border: none;
    background-color: #e8491d;
    color: #ffffff;
    cursor: pointer;
}

.footer-nav {
    margin: 20px 0;
}
.footer-links a:hover,
.footer-nav a:hover {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 7px;
    transition: 1.5s;
}
.social-media a:hover,
.social-media img:hover{
    transform: scale(1.1);
}