body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b60b0;
}
.container {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.vr{
    justify-content: center;
}
.logo{
    align-self: center;
}
header {
    background-color: #000000;
    padding-bottom: 1px;
    color: #40a2db;
}

header h1 {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 10px;
}

nav ul li a {
    color: #40a2db;
    text-decoration: none;
    border: 0;
    font-size: larger;
}

nav ul li a:hover {
    font-size: 1.2rem;
    color: white;
    transition: 1.5s;
}
nav ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s;
}
nav ul li a:hover::after{
    width: 100%;
}
@media (min-width: 319px) and (max-width:480px)
    { 
        .vr{
            text-align: center;
        }
    nav ul li{
        display: flex;
        justify-content: center;
      
    }
    .container {
        border: 1px solid;
        display: flex;
        flex-direction: column;
    }
    nav ul li a {
        text-align: center;
        text-decoration: none;
    }
}
 
  h1, h2 {
    margin-bottom: 10px;
  }
  h2{
    color: #f0edcf;
    text-align: center;
    font-size: xx-large;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  
  main {
    padding: 20px;
  }
  
  .destination-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .destination {
    background-color: #40a2db;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    border: 2px solid #f0edcf;
  }
  
  .destination img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .destination:hover {
    transform: scale(1.02);
  }
  
  article a {
    text-decoration: none;
    color: #f0edcf;
    padding: 5px 10px;
    border: 1px solid #f0edcf;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
  }
  article a:hover {
    background-color: #f0edcf;
    color: #40a2db;
  }
  footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  article img{
    height: 300px;
  }
  @media (min-width: 319px) and (max-width:480px)
  {
    article img{
      height: 200px;
    }
  }
    @media (min-width: 481px) and (max-width:768px)
    {
        article img{
        height: 250px;
        }
    }
    @media (min-width: 769px) and (max-width:1024px)
    {
        article img{
        height: 250px;
        }
    }
#footer {
    background-color: black;
    color: #40a2db;
    padding: 20px 0;
}

.foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links,
.social-media,
.footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-links a,
.social-media a,
.footer-nav a {
    color: #40a2db;
    margin: 0 10px;
    text-decoration: none;
}

.social-media img {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.newsletter {
    margin: 10px 0; 
    color: #ffffff;
}

.newsletter form {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
}

.newsletter button {
    padding: 10px;
    border: none;
    background-color: #e8491d;
    color: #ffffff;
    cursor: pointer;
}

.footer-nav {
    margin: 20px 0;
}
.footer-links a:hover,
.footer-nav a:hover {
    font-size: 1.2rem;
    color: white;
    transition: 0.5s;
}
.footer-links a,
.footer-nav a {
    color: #40a2db;
    text-decoration: none;
    font-size: larger;
}
.footer-links a::after,
.footer-nav a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s;
}
.footer-links a:hover::after,
.footer-nav a:hover::after{
    width: 100%;
}
.social-media a:hover,
.social-media img:hover{
    transform: scale(1.1);
}