body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b60b0;
}
.headcontainer {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.vr{
    justify-content: center;
}
.logo{
    align-self: center;
}
header {
    background-color: #000000;
    padding-bottom: 1px;
    color: #40a2db;
}

header h1 {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 10px;
}

nav ul li a {
    color: #40a2db;
    text-decoration: none;
    font-size: larger;
}

nav ul li a:hover {
    font-size: 1.2rem;
    color: white;
    transition: 0.5s;
}
nav ul li a::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width .3s;
}
nav ul li a:hover::after{
  width: 100%;
}
  .container
  {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: red;
    background: linear-gradient(to bottom, rgb(6, 108, 100),  rgb(14, 48, 122));
    width: 800px;
    height: 400px;
    margin: 10% auto;;
    border-radius: 5px;
  }
  
  .content-holder
  {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 15%;
    padding: 50px;
  }
  
  .content-holder h2
  {
    font-size: 34px;
    margin: 20px auto;
  }
  
  .content-holder p
  {
    margin: 30px auto;
  }
  
  .content-holder button
  {
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
  }
  
  
  .box-2{
    background-color: white;
  
    margin: 5px;
  }
  
  .login-form-container
  {
    text-align: center;
    margin-top: 10%;
  
  }
  
  .login-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .input-field
  {
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    width: 250px;
    outline: none;
  }
  
  .login-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: rgb(56, 102, 189);
  }
  
  
  
  .button-2
  {
    display: none;
  }
  
  
  
  
  
  .signup-form-container
  {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    display: none;
  }
  
  
  .signup-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .signup-button{
    box-sizing: border-box;
    color: black;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: #f0edcf;  
  }
@media (min-width: 319px) and (max-width:480px)
    { 
        .vr{
            text-align: center;
        }
    nav ul li{
        display: flex;
        justify-content: center;
      
    }
    .headcontainer {
        border: 1px solid;
        display: flex;
        flex-direction: column;
    }
    nav ul li a {
        text-align: center;
        text-decoration: none;
    }
}
#footer {
    position: relative;
    background-color: black;
    color: #40a2db;
    padding: 20px 0;
}

.foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links,
.social-media,
.footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-links a,
.social-media a,
.footer-nav a {
    color: #40a2db;
    margin: 0 10px;
    text-decoration: none;
}

.social-media img {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.newsletter {
    margin: 10px 0; 
    color: #ffffff;
}

.newsletter form {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
}

.newsletter button {
    padding: 10px;
    border: none;
    background-color: #e8491d;
    color: #ffffff;
    cursor: pointer;
}

.footer-nav {
    margin: 20px 0;
}
.footer-links a:hover,
.footer-nav a:hover {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 7px;
    transition: 0.5s;
}
.social-media a:hover,
.social-media img:hover{
    transform: scale(1.1);
}