body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b60b0;
}
.container {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.vr{
    justify-content: center;
}
.logo{
    align-self: center;
}
.container-intro {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: url("./images/pexels-pixabay-206359.jpg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.intro{
    text-align: center;
    padding: 3% 5%;
    color: #f0edcf;
    bottom: 325px;
    position: relative;
    top: 7%;
    left: 3%;
    font-size: 4rem;
}
.search-container{
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}
.search-container .search-btn img{
    width: 30px;
    height: 30px;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}

header {
    background-color: #000000;
    padding-bottom: 1px;
    color: #40a2db;
}

header h1 {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 10px;
}

nav ul li a {
    color: #40a2db;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 7px;
    transition: 0.5s;
}
.destination-header{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #f0edcf;
    font-weight: 900;
    text-decoration: underline;
}

.destination-card {
    display: flex;
    border: 1px solid #f0edcf;
    background-color: #40a2db;
    padding: 20px;
    margin: 20px 20px 20px 7%;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 350px;
    max-width: 75%;
}
.destination-card:hover {
    transform: scale(1.05);
}
.destination-card img {
    width: 50%;
    height: auto;
    float: left;
}
.destination-card .content {
    width: 50%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.link{
    text-align: center;
    color: #f0edcf;
    margin-left: 35%;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    width: max-content;
    background-color: #40a2db;
    border: 2px solid #f0edcf;
}
.link:hover{
    background-color: #f0edcf;
    color: #40a2db;
}
.content .city{
    text-align: center;
    font-size: 18pt;
    color: #f0edcf;
}
@media (min-width: 319px) and (max-width:480px)
    { 
        .vr{
            text-align: center;
        }
    nav ul li{
        display: flex;
        justify-content: center;
      
    }
    .container {
        border: 1px solid;
        display: flex;
        flex-direction: column;
    }
    nav ul li a {
        text-align: center;
    }
    .foot-container img{
        width: 80%;
    }
    .destination-card{
        display: block;
    }
    .destination-card img {
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
    .destination-card .content {
        width: 90%;
        display: block;
        margin-left: 5%;
    }
    .content .link{
        text-align: center;
        margin-left: 35%;
    }
    .search-container:hover > .search-input{
        width: 300px;
    }
}
@media (min-width: 481px) and (max-width:716px)
{
    .destination-card{
        display: block;
        max-width: 85%;
    }
    .destination-card img {
        max-width: 80%;
        height: auto;
        margin-left: 25%;
        float: left;
    }
    .destination-card .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap
    }
    .content .link{
        text-align: center;
        margin-left: 35%;
    }
    .content .city{
        margin: 3px;
    }
    .brief{
        margin: 3px;
    }
}
@media (min-width: 717px) and (max-width:1000px)
{
    .card-holder{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-card{
        width: 33%;
    }
    .destination-card{
        display: block;
        max-width: 85%;
        max-height: 550px;
    }
    .destination-card img {
        height: auto;
        width: 80%;
        margin-left: 10%;
    }
    .destination-card .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap
    }
    .content .city{
        margin: 3px;
    }
    .brief{
        margin: 3px;
    }
    #tokyo{
        padding-bottom: 35px;
    }
}
@media (min-width: 1000px)
{
    .card-holder{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-card{
        width: 24.8%;
    }
    .destination-card{
        display: block;
        max-width: 85%;
        max-height: 550px;
    }
    .destination-card img {
        height: auto;
        width: 80%;
        margin-left: 10%;
    }
    .destination-card .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap
    }
    .content .city{
        margin: 3px;
    }
    .brief{
        margin: 3px;
    }
    #tokyo{
        padding-bottom: 35px;
    }
}
.content .link{
    text-align: center;
    justify-content: center;
    margin-top: 3px;
}
.brief{
    color: #f0edcf;
   font-size: large;
}

#footer {
    background-color: black;
    color: #40a2db;
    padding: 20px 0;
}

.foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links,
.social-media,
.footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-links a,
.social-media a,
.footer-nav a {
    color: #40a2db;
    margin: 0 10px;
    text-decoration: none;
}

.social-media img {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.newsletter {
    margin: 10px 0; 
    color: #ffffff;
}

.newsletter form {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
}

.newsletter button {
    padding: 10px;
    border: none;
    background-color: #e8491d;
    color: #ffffff;
    cursor: pointer;
}

.footer-nav {
    margin: 20px 0;
}
.footer-links a:hover,
.footer-nav a:hover {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 7px;
    transition: 0.5s;
}
.social-media a:hover,
.social-media img:hover{
    transform: scale(1.1);
}