body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b60b0;
}
.container {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.vr{
    justify-content: center;
}
.logo{
    align-self: center;
}
header {
    background-color: #000000;
    padding-bottom: 1px;
    color: #40a2db;
}

header h1 {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 10px;
}

nav ul li a {
    color: #40a2db;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 7px;
    transition: 1.5s;
}

.main-card{
    display: block;
    border: 1px solid #f0edcf;
    background-color: #40a2db;
    padding: 20px;
    margin: 5% 10% 5% 10%;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    height: auto;
}
.city-head{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: #f0edcf;
    font-weight: 900;
    text-decoration: underline;
}

.content-card{
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    height: 90%;
}

.mainimg{
    float: left;
    height: 300px;
    width: auto;
}
.nickname{
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #f0edcf;
    font-weight: 900;
    text-decoration: underline;
    height: 10%;
}
.first{
    position: relative;
    left: 4%;
}

.content-card .second {
    position: relative;
    left: 4%;
    margin: 2%;
}
.content-card p{
    color: #e7e4c7;
    margin: 5%;
    padding: 10px;
    font-size: 1.2rem;
}

.third{
    margin: 2%;
}
.list{
    color: #e7e4c7;
    margin: 1% 5% 5% 7%;
    font-size: 1.2rem;
}
.list li{
    margin-bottom: 2%
}
.pointer{
    font-weight: bold;
    text-decoration: underline;
}
@media (min-width: 319px) and (max-width:480px)
    { 
        .vr{
            text-align: center;
        }
    nav ul li{
        display: flex;
        justify-content: center;
      
    }
    .container {
        border: 1px solid;
        display: flex;
        flex-direction: column;
    }
    nav ul li a {
        text-align: center;
    }
    .mainimg{
        width: 100%;
        height: auto;
    }
}
@media (min-width: 481px) and (max-width:600px)
{
    .mainimg{
        width: 100%;
    }
}
#footer {
    background-color: black;
    color: #40a2db;
    padding: 20px 0;
}

.foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links,
.social-media,
.footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-links a,
.social-media a,
.footer-nav a {
    color: #40a2db;
    margin: 0 10px;
    text-decoration: none;
}

.social-media img {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.newsletter {
    margin: 10px 0; 
    color: #ffffff;
}

.newsletter form {
    display: flex;
    justify-content: center;
}

.newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
}

.newsletter button {
    padding: 10px;
    border: none;
    background-color: #e8491d;
    color: #ffffff;
    cursor: pointer;
}

.footer-nav {
    margin: 20px 0;
}
.footer-links a:hover,
.footer-nav a:hover {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 7px;
    transition: 0.5s;
}
.social-media a:hover,
.social-media img:hover{
    transform: scale(1.1);
}